<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ciphers</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.5/semantic.min.css" type="text/css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div class="container">
        <h1>Welcome to the Ciphers Homepage</h1>

        <h4 class="section">Encryption</h4>

        <form class="ui form segment" name="otp" onsubmit="getOTP(this)">
            <div class="field">
                <label for="otp">One Time Pad</label>
                <input class="ui input" type="text" name="otp" id="otp" placeholder="Enter text to be encrypted">
            </div>

            <button class="ui button" type="submit">Encrypt</button>
        </form>
        </div>


        <script src="static/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.5/semantic.js"></script>
    </body>
</html>